body{
    background: #0999ce url('../images/bg.png') no-repeat;
    background-size: 100%;
    color:orange;
    font-size: 2em;
    line-height: 180%;
    margin: 1em;
}

.intro{
    background-color: green;
    opacity: .9;
    padding: 2em;
}